.HowItWorks {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 70%;
}

.headerHIW {
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-color: #90A3A7;
    text-decoration-width: 2px;
    font-weight: normal;
    text-align: center;
}

.header2 {
    font-size: 1.8em;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: normal;
    text-align: center;
}

.paraHIW {
    font-size: 0.7em;
    margin-bottom: 15px;
}

.imageSize {
    width: 90%;
}
