.layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.headImage {
    width: 75%;
    align-self: center;
}

.header1 {
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-color: #90A3A7;
    text-decoration-width: 2px;
    font-weight: normal;
    text-align: left;
    margin-left: 2.5em;
}
.para {
    font-size: 0.7em;
}

.aboutUs {
    align-self: center;
    width: 70%;
    margin: 20px;
    padding-bottom: 20px;
}

.ourAdventures {
    align-self: center;
    width: 70%;
    margin: 30px;
    padding-bottom: 20px;
}

